@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Nosifer&family=Quando&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-luckyguy: "Luckiest Guy", cursive;
  --font-nosifer: "Nosifer";
  --font-quando: "Quando";
}
.luckyguy {
  font-family: var(--font-luckyguy);
}

.nosifer{
  font-family: var(--font-nosifer);
}

.quando{
font-family: var(--font-quando);
}

body{
  background-color: #F5F5F5;
}
:root {
  --shop: #3a4b5dd7;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

.my-scroll-hidden::-webkit-scrollbar {
  display: none;
}
.my-scroll-hidden {
  scrollbar-width: none;
}
